{{- /*

  A version of the navbar-version-selector.html partial in Docsy,
  modified to read the versions from /versions.json.

*/ -}}

{{ $changelog := site.GetPage "changelog" }}
{{ $pages := $changelog.RegularPages.ByDate.Reverse }}

<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All Versions
    </a>
    <ul class="dropdown-menu" id="version-selector">
        {{- /* The menu is built by versions.template.js */ -}}
    </ul>
</div>
