{{/*

  Render a table showing content types and their descriptions, given
  two arrays with equal length:

  * `content_types`: the content type strings

  * `descriptions`: the description strings

*/}}

{{ $content_types := .content_types }}
{{ $descriptions := .descriptions}}

{{ if (gt (len $content_types) 0) }}

<table class="content-type-table">
 <thead>
  <tr>
    <th class="col-name">Content-Type</th>
    <th class="col-description">Description</th>
  </tr>
 </thead>
 {{ range $idx, $content_type := $content_types }}
 <tr>
  <td><code>{{ $content_type }}</code></td>
  <td>{{ index $descriptions $idx | markdownify -}}</td>
 </tr>
 {{ end }}
</table>

{{ end }}
