# no doubt older versions would be fine for many of these but these were
# current at the time of writing

# we need at least version 4.18.0 for support of referencing library.
jsonschema >= 4.18.0

python-jsonpath >= 1.0.0
attrs >= 23.1.0
PyYAML >= 3.12
requests >= 2.18.4
towncrier == 23.6.0
