{{/*

  Finds and returns all nested objects, given a dict containing:
   * `schema`: a JSON schema object
   * `anchor_base`: a prefix to add to the HTML anchors generated for each object. If nil, no anchors are generated.
   * `name`: optionally, a name to use for this object in error/warning messages. If left unset,
      the object's `title` property is used (if present).

  This template finds all nested objects inside `schema`.

  Assumes that "resolve-refs" and "resolve-allof" has already been called on the
  input schema.

  Returns an array of all the objects found. For each object, the following properties are returned:
    * title
    * properties
    * required
    * enum
    * anchor: a string suitable for using as an html anchor for this object (if `anchor_base` was set, and the object has a title)

  Note that the returned array may contain duplicate objects.

*/}}

{{ $this_object := .schema }}
{{ $anchor_base := .anchor_base }}
{{ $additional_objects := slice }}
{{ $name := .name | default $this_object.title | default "<untitled object>" }}

{{ if eq $this_object.type "object" }}
    {{/* give this object an anchor, if it has a name */}}
    {{ if (and $anchor_base $this_object.title) }}
        {{ $this_object = merge $this_object (dict "anchor" (printf "%s_%s" $anchor_base (anchorize $this_object.title))) }}
    {{ end }}

    {{/*
      Add the object we were passed into the $additional_objects array
    */}}
    {{ $additional_objects = $additional_objects | append (partial "clean-object" $this_object) }}

    {{/*
      Add any nested objects referenced in this object's `additionalProperties`
    */}}
    {{ if $this_object.additionalProperties }}
        {{ if reflect.IsMap $this_object.additionalProperties }}
            {{ $additional_objects = partial "get-additional-objects" (dict
                "this_object" $this_object.additionalProperties
                "additional_objects" $additional_objects
                "anchor_base" $anchor_base
                "name" (printf "%s.additional" $name)
            ) }}
        {{ end }}
    {{ end }}

    {{/*
      Add any nested objects referenced in this object's `properties`
    */}}
    {{ range $key, $property := $this_object.properties}}
        {{ $additional_objects = partial "get-additional-objects" (dict
            "this_object" $property
            "additional_objects" $additional_objects
            "anchor_base" $anchor_base
            "name" (printf "%s.%s" $name $key)
        ) }}
    {{ end }}

{{ end }}

{{ if eq $this_object.type "array" }}
    {{/*
      Add any nested objects referenced in this object's `items`
    */}}
    {{ if $this_object.items.anyOf }}
        {{ range $idx, $item := $this_object.items.anyOf }}
            {{ $additional_objects = partial "get-additional-objects" (dict
                "this_object" $item
                "additional_objects" $additional_objects
                "anchor_base" $anchor_base
                "name" (printf "%s.items[%d]" $name $idx)
            ) }}
        {{ end }}
    {{ else if reflect.IsMap $this_object.items}}
        {{ $additional_objects = partial "get-additional-objects" (dict
             "this_object" $this_object.items
             "additional_objects" $additional_objects
             "anchor_base" $anchor_base
             "name" (printf "%s.items" $name)
        ) }}
    {{ else }}
        {{ errorf "%s is defined as an 'array' but lacks a valid 'items'" $name }}
    {{ end }}
{{ end }}

{{/*
  Handle object schemas using the `oneOf` keyword
  (https://json-schema.org/understanding-json-schema/reference/combining.html#oneof)
*/}}
{{ if $this_object.oneOf }}
    {{ range $idx, $item := $this_object.oneOf }}
        {{ $additional_objects = partial "get-additional-objects" (dict
            "this_object" $item
            "additional_objects" $additional_objects
            "anchor_base" $anchor_base
            "name" (printf "%s.oneOf[%d]" $name $idx)
        ) }}
    {{ end }}
{{ end }}

{{ return $additional_objects }}


{{/*
  This actually makes the recursive call and adds the returned objects to the array
*/}}
{{ define "partials/get-additional-objects" }}
    {{/* .name is the name of the object for logging purposes */}}
    {{ $name := .name }}

    {{ $additional_objects := .additional_objects }}

    {{ if not (reflect.IsMap .this_object) }}
      {{ errorf "Invalid call to partials/get-additional-objects: %s is not a map" $name .this_object }}
    {{ end }}

    /* although we expect resolve-allof to be called on the input, resolve-allof does not recurse into
     * nested objects, so we have to call it again.
     */
    {{ $this_object := partial "json-schema/resolve-allof" .this_object }}

    {{ $more_objects := partial "json-schema/resolve-additional-types" (dict "schema" $this_object "anchor_base" .anchor_base "name" $name) }}
    {{/*
      As far as I know we don't have something like Array.concat(), so add them one at a time
    */}}
    {{ range $more_objects}}
        {{ $additional_objects = $additional_objects | append (partial "clean-object" .) }}
    {{ end }}
    {{ return $additional_objects }}
{{ end }}

{{/*
  Only copy the bits of the object that we actually care about.
  This is needed for uniqify to work - otherwise objects that are the same
  but with (for example) different examples will be considered different.
*/}}
{{ define "partials/clean-object" }}
    {{ return (dict "title" .title "properties" .properties "required" .required "enum" .enum "anchor" .anchor) }}
{{ end }}
