name: Spell Check
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  run:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Actions Repository
      uses: actions/checkout@v2

    - name: Check spelling of proposals
      uses: crate-ci/typos@ff3f309513469397e1094520fb7a054e057589e1
      with:
        config: ${{github.workspace}}/.github/_typos.toml